<#@ template debug="false" hostspecific="false" language="C#" #>  
<#@ output extension=".cs" #>  
 
 
<# var properties = new string [] {"P1", "P2", "P3"}; #>  
// This is generated code:  
class MyGeneratedClass {  
<# // This code runs in the text template: 
 foreach (var item in  properties) { #>
         public <#= item #>  {set;get;}
<# } #>
}  